* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

main {
  min-height: 100vh;
  background: linear-gradient(to right top, #65dfc9, #6cdbeb);
  display: flex;
  align-items: center;
  justify-content: center;
}

.glass {
  background: linen;
  min-height: 80vh;
  max-height: 95vh;
  min-width: 65%;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
  );
  border-radius: 2rem;
  z-index: 2;
  backdrop-filter: blur(2rem);
  display: flex;
  overflow: hidden;
  box-shadow: 0px 4px 10px #42bbb5;
}
.checkbtn {
  cursor: pointer;
  margin: -27rem -1rem 1rem 2rem;
  font-size: 2rem;
  display: none;
  color: #65dfc9;
  text-decoration: none;
}

#check {
  display: none;
}

.circle1,
.circle2 {
  background: white;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0.3)
  );
  height: 15rem;
  width: 15rem;
  position: absolute;
  border-radius: 50%;
}
.circle1 {
  top: 5%;
  right: 15%;
}
.circle2 {
  bottom: 5%;
  left: 10%;
}

.dashboard {
  min-height: 30rem;
  max-width: 30%;
  padding: 0.5rem -0rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
  );
  border-radius: 2rem;
}

.info {
  margin: -0.5rem 0rem;
  font-size: 0.9rem;
  color: #124c5a;
}
.membership {
  margin: 0rem 0rem;
  font-size: 0.7rem;
}

.link {
  align-items: center;
  display: flex;
  margin: 0rem -2rem;
  padding: 0.7rem 3rem;
  align-items: center;
  cursor: pointer;
  font-size: 0.8rem;
  color: #124c5a;
}
.link img {
  max-height: 4vh;
  padding-left: 1rem;
}
.link h3 {
  padding: 0rem 2rem;
  text-transform: capitalize;
}

.games {
  padding: 2rem;
  flex: 5;
}
.pro {
  cursor: pointer;
  margin: -3rem 0.5rem;
  padding: 1rem 0rem;
  background: linear-gradient(to left bottom, #65dfc9, #6cdbeb);
  color: white;
  border-radius: 1rem;
  align-items: initial;
  text-decoration: none;
  font-size: 0.8rem;
}
.pro img,
h3 {
  margin: 0rem 0.5rem;
  max-width: 10rem;
  max-height: 5rem;
}

.user {
  margin: -3rem 0rem;
  padding: 0rem;
}

.active {
  font-size: 1.5rem;
  float: left;
  margin-right: 0.5rem;
}

.search {
  font: inherit;
  flex: 1;
  border: none;
  margin-top: -0.5rem;
  padding: 0.3rem;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
  max-width: 10rem;
  background: none;
  color: #000000;
}

.search:focus {
  outline: none;
}
.btn {
  margin-top: -0.5rem;
  margin-bottom: 1rem;
  border: none;
  background: none;
  color: #65dfc9;
  transition: 0.2s;
  font-size: 1rem;
}

.btn:focus {
  outline: none;
}
.btn:active {
  transform: scale(0.9);
  background: linear-gradient(to right top, #65dfc9, #6cdbeb);
}

.cards {
  margin-top: 0rem;
  color: #124c5a;
}
.progressbar {
  max-height: 1rem;
  width: 90%;
  background: #ffffff;
  border-radius: 1rem;
  margin: 0.5rem 0rem;
}

.percentage {
  text-align: center;
  color: white;
  font-weight: 400;
  font-size: 0.8rem;
  margin: 1rem 0rem;
}
.progress {
  max-height: 1rem;
  background-color: rgb(25, 165, 83);
  border-radius: 1rem;
  width: 60%;
}

.status {
  display: flex;
}
.card {
  margin: 1rem 0rem;
  padding: 1rem 1rem;
  font-size: 0.8rem;

  background: linear-gradient(
    to left top,
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0.5)
  );
  border-radius: 1rem;
  box-shadow: 6px 6px 20px rgba(122, 122, 122, 0.212);
  justify-content: space-between;
}

.games img {
  margin: -1vh 0vh;
}

.card img {
  margin-right: 0.8rem;
  max-height: 5rem;
  float: left;
}
.card-info {
  margin-top: 5rem;
}
.gamename {
  margin: 1.2rem 0rem;
  float: left;
}
.dp {
  max-height: 5rem;
  border-radius: 5rem;
}

.dragbtn {
  display: none;
  align-items: center;
  display: flex;
  margin: 0rem -3rem;
  padding: 0.7rem 3rem;
  align-items: center;
  cursor: pointer;
  font-size: 1rem;
  text-decoration: none;
}
.ul {
  display: none;
  text-decoration: none;
}

.search-bar {
  display: none;
}

ul {
  display: none;
}

@media screen and (max-width: 752px) {
  #check:checked ~ ul {
    left: 0;
  }
  .card img {
    display: block;
  }
  .dashboard {
    display: none;
  }
  .checkbtn {
    display: block;
  }

  nav {
    display: block;
  }

  ul {
    padding: 2rem 4rem;
    display: block;
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #65dfc9;
    top: 5rem;
    left: -100%;
    text-align: center;
    transition: all 0.5s;
    align-items: left;
    border-radius: 0.5rem;
    max-width: 12rem;
  }

  nav ul li {
    display: block;
    margin: 0rem;
    padding: 0rem;
    align-items: left;
  }
  nav ul li a {
    text-decoration: none;
    font-size: 1.5rem;
    color: white;
  }
}

@media screen and (max-width: 600px) {
  .status {
    display: none;
  }

  .card img {
    display: none;
  }
  .progress,
  .progressbar {
    max-height: 1rem;
  }

  .dashboard {
    display: none;
  }
  .checkbtn {
    display: block;
  }

  .search-bar {
    display: block;
    height: 40px;
    border-radius: 40px;
    padding: 0rem 0rem;
  }

  .search-bar:hover > .search-txt {
    width: 240px;
    padding: 0 6px;
  }

  .search-caja:hover > .search-btn {
    background: none;
    color: #65dfc9;
  }

  .search-btn {
    color: #65dfc9;
    float: right;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
    color: #65dfc9;
    cursor: pointer;
  }

  .search-btn > i {
    font-size: 1.5rem;
  }

  .search-txt {
    font-size: 1rem;
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: #173c4b;
    transition: 0.4s;
    line-height: 40px;
    width: 0px;
  }

  .gamename {
    font-size: 0.8rem;
  }

  .progressbar {
    max-height: 1rem;
    width: 100%;
  }

  .games {
    max-width: 400px;
  }
}

@media screen and (max-width: 300px) {
  .progress,
  .progressbar {
    max-height: 0.5rem;
  }
}
